@using DevLog.Areas.Panel.Models.ViewModels
@using DevLog.Utilities
@model DevLog.Areas.Panel.Models.ViewModels.PostCommentFormViewModel

@{
    Layout = "_FormLayout";
    ViewData["Title"] = "Delete Comment";
}

<div class="form-group">
    <label asp-for="PostTitle"></label>
    <input asp-for="PostTitle" class="form-control" disabled="disabled" />
</div>
<div class="form-group">
    <label asp-for="UserFullName"></label>
    <input asp-for="UserFullName" class="form-control" disabled="disabled" />
</div>
<div class="form-group">
    <label asp-for="Body"></label>
    <textarea asp-for="Body" rows="5" class="form-control" disabled="disabled"></textarea>
</div>
<div class="form-group">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" disabled="disabled" />
</div>
<div class="form-group">
    <label asp-for="Status"></label>
    <select asp-for="Status"
            asp-items="Html.GetEnumSelectList<PostCommentStatus>()"
            class="form-select" disabled="disabled">
    </select>
</div>
<div class="form-group">
    <label asp-for="Ip"></label>
    <input asp-for="Ip" class="form-control" disabled="disabled" />
</div>
<div class="form-group">
    <input asp-for="IsEdited" disabled="disabled" />
    <label asp-for="IsEdited"></label>
</div>
<div class="form-group">
    <label asp-for="CreateDate"></label>
    <input value="@Model.CreateDate.ToFriendlyFullDateTime()" class="form-control" disabled="disabled" />
</div>
<div class="form-group">
    <label asp-for="LastEditDate"></label>
    <input value="@Model.LastEditDate.ToFriendlyFullDateTime()" class="form-control" disabled="disabled" />
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger" type="submit">Delete</button>
    <a asp-action="Index" class="btn btn-danger">Back</a>
</form>
