@using DevLog.Areas.Panel.Models.ViewModels
@model DevLog.Areas.Panel.Models.ViewModels.PostCommentReplyFormViewModel

@{
    Layout = "_FormLayout";
    ViewData["Title"] = "Reply Comment";
}

<form asp-action="Reply">
    <div class="form-group">
        <label asp-for="ParentBody"></label>
        <textarea asp-for="Body" rows="5" class="form-control" disabled="disabled"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Body"></label>
        <textarea asp-for="Body" rows="5" class="form-control"></textarea>
        <span asp-validation-for="Body"></span>
    </div>
    <div class="form-group">
        <label asp-for="Status"></label>
        <select asp-for="Status"
                asp-items="Html.GetEnumSelectList<PostCommentStatus>()" class="form-select"></select>
        <span asp-validation-for="Status"></span>
    </div>

    <input type="hidden" asp-for="ParentId" />
    <input type="hidden" asp-for="PostId" />

    <div class="form-group">
        <button class="btn btn-success" type="submit">Reply</button>
        <a asp-action="Index" class="btn btn-danger">Back</a>
    </div>
</form>
