@using DevLog.Core.Domain
@using DevLog.Models.Constants
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Dashboard";
}

<section id="topLabel">
    <div class="container">
        <div class="row text-danger py-5">
            <div class="col-12 text-center">
                <h2>
                    <span class="fa fa-user"></span>
                    @if (User.IsInRole(UserRolesConstant.SuperAdmin) || User.IsInRole(UserRolesConstant.Admin))
                    {
                        <span>Welcome to the Admin Panel</span>
                    }
                    @if (User.IsInRole(UserRolesConstant.Writer))
                    {
                        <span>Welcome to the Writer Panel</span>
                    }
                </h2>
            </div>
            <div class="col-12 text-center">
                <a class="btn btn-danger py-2" asp-area="" asp-controller="Home" asp-action="Index">
                    <span>Visit Website</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row my-5 justify-content-center">
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <a asp-controller="Posts" asp-action="Index" class="btn btn-warning d-block text-white p-5 rounded-0 mt-lg-0 mt-md-0 mt-sm-3 mt-3">
                    <span class="fa fa-table h4"></span>
                    <span class="h4">Posts</span>
                </a>
            </div>
            @if (User.IsInRole(UserRolesConstant.Writer))
            {
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <a asp-controller="PostComments" asp-action="Index" class="btn btn-secondary d-block text-white p-5 rounded-0 mt-lg-0 mt-md-0 mt-sm-3 mt-3">
                        <span class="fa fa-comments h4"></span>
                        <span class="h4">Comments</span>
                    </a>
                </div>
            }
            @if (User.IsInRole(UserRolesConstant.SuperAdmin) || User.IsInRole(UserRolesConstant.Admin))
            {
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <a asp-controller="Contacts" asp-action="Index" class="btn btn-danger d-block text-white p-5 rounded-0 mt-lg-0 mt-md-0 mt-sm-3 mt-3">
                        <span class="fa fa-phone h4"></span>
                        <span class="h4">Contacts</span>
                    </a>
                </div>
            }
            @if (User.IsInRole(UserRolesConstant.SuperAdmin))
            {
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <a asp-controller="Users" asp-action="Index" class="btn btn-secondary d-block text-white p-5 rounded-0 mt-lg-0 mt-md-0 mt-sm-3 mt-3">
                        <span class="fa fa-users h4"></span>
                        <span class="h4">Users</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                    <a asp-controller="Settings" asp-action="Index" class="btn btn-success d-block p-5 rounded-0 mt-lg-0 mt-md-0 mt-sm-3 mt-3">
                        <span class="fa fa-cogs h4"></span>
                        <span class="h4">Settings</span>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
