@using System.Reflection
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Panel - @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/panel.css" />

    @await RenderSectionAsync("Styles", required: false)
</head>

<body>

    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-lg-4 col-md-8 col-sm-10 col-12 m-auto">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="pt-5">
        <div class="container-fluid">
            <div class="row pt-2 text-white text-center">
                <div class="col-12">
                    Made with
                    <span class="fa fa-heart"></span>
                    by <a href="https://github.com/ElliotOne" class="text-danger">Elliot One</a>
                    <br />
                    <span>@DateTime.Now.Year</span>
                    <span>|</span>
                    <span>Version @Assembly.GetEntryAssembly()?.GetName().Version</span>
                </div>
            </div>
        </div>
    </footer>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</body>
</html>
