@using DevLog.Areas.Panel.Models.ViewModels
@using DevLog.Models.Constants
@using DevLog.Utilities
@model DevLog.Areas.Panel.Models.ViewModels.UserFormViewModel

@{
    Layout = "_FormLayout";
    ViewData["Title"] = "User Details";
}

<div class="form-group">
    <label asp-for="UserName"></label>
    <input asp-for="UserName" class="form-control" disabled="disabled" />
</div>
<div class="form-group">
    <label asp-for="Role"></label>
    <select asp-for="Role"
            asp-items="Html.GetEnumSelectList<UserRole>()"
            class="form-select" disabled="disabled"></select>
</div>
<div class="form-group">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName" class="form-control" disabled="disabled" />
</div>
<div class="form-group">
    <label asp-for="LastName"></label>
    <input asp-for="LastName" class="form-control" disabled="disabled" />
</div>
<div class="form-group">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" disabled="disabled" />
</div>
<div class="form-group">
    <label asp-for="Biography"></label>
    <textarea asp-for="Biography" rows="5" class="form-control" disabled="disabled"></textarea>
</div>
<div class="form-group">
    <label asp-for="File"></label>
    <div id="files-preview" class="single-file mt-2">
        <img src="@(Model.ImageVirtualPath ?? FilePathsConstant.NoImage)" class="thumbnail" />
    </div>
</div>
<div class="form-group form-check">
    <div class="custom-control custom-checkbox mr-sm-2">
        <label class="form-check-label">
            <input type="checkbox" class="custom-control-input" asp-for="IsActive" disabled="disabled">
            <label class="custom-control-label" asp-for="IsActive"></label>
        </label>
    </div>
</div>
<div class="form-group">
    <label asp-for="CreateDate"></label>
    <input value="@Model.CreateDate.ToFriendlyFullDateTime()" class="form-control" disabled="disabled" />
</div>
<div class="form-group">
    <label asp-for="LastEditDate"></label>
    <input value="@Model.LastEditDate.ToFriendlyFullDateTime()" class="form-control" disabled="disabled" />
</div>
<div class="form-group">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>

    @if (User.IsInRole(UserRolesConstant.SuperAdmin))
    {
        <a asp-action="Index" class="btn btn-danger">Back</a>
    }
    else
    {
        <a asp-controller="Home" asp-action="Index" class="btn btn-danger">Back</a>
    }

</div>
