@using DevLog.Areas.Panel.Extensions
@using DevLog.Areas.Panel.Models.ViewModels
@using DevLog.Models.Constants
@model DevLog.Areas.Panel.Models.ViewModels.UserFormViewModel

@{
    Layout = "_FormLayout";
    ViewData["Title"] = "Edit User";
}

@section Scripts {
    <script>
        Panel.InitializeEditor("#txtBiography");
        Panel.InitializeSingleFilePreview();
    </script>
}

<form asp-action="Edit" method="POST" enctype="multipart/form-data">
    @if (ViewData["Error"] != null)
    {
        <div class="form-group">
            @await Html.PartialAsync("PartialViews/_ErrorPartialView", ViewData["Error"].ToString())
        </div>
    }
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="PasswordConfirm"></label>
        <input asp-for="PasswordConfirm" class="form-control" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div class="form-group">
        <label asp-for="Role"></label>
        <select asp-for="Role"
                asp-items="Html.GetEnumSelectList<UserRole>()"
                class="form-select"
                disabled="disabled"></select>
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Biography"></label>
        <textarea asp-for="Biography" id="txtBiography"></textarea>
        <span asp-validation-for="Biography"></span>
    </div>
    <div class="form-group">
        <label asp-for="File"></label>
        <button type="button" id="btn-add-file" class="btn btn-secondary">
            <i class="fa fa-plus"></i>
            Add Picture
        </button>
        <input type="file" asp-for="File" id="input-file-hidden" class="d-none" accept="image/*" />
        <div id="files-preview" class="single-file mt-2">
            <img src="@(Model.ImageVirtualPath ?? FilePathsConstant.NoImage)" class="thumbnail" />
        </div>
    </div>
    @if (User.IsInRole(UserRolesConstant.SuperAdmin))
    {
        <div class="form-group form-check">
            <div class="custom-control custom-checkbox mr-sm-2">
                <label class="form-check-label">
                    <input type="checkbox" class="custom-control-input" asp-for="IsActive">
                    <label class="custom-control-label" asp-for="IsActive"></label>
                </label>
            </div>
        </div>
    }
    else
    {
        <input type="hidden" asp-for="IsActive" />
    }

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ImageVirtualPath" />
    <input type="hidden" asp-for="CreateDate" />
    <input type="hidden" asp-for="LastEditDate" />

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Edit</button>

        @if (User.IsInRole(UserRolesConstant.SuperAdmin))
        {
            <a asp-action="Index" class="btn btn-danger float-right">Back</a>
        }
        else
        {
            <a asp-controller="Users" asp-action="Details" asp-route-id="@User.GetUserId()" class="btn btn-danger">Back</a>
        }

    </div>
</form>
