@model DevLog.Areas.Panel.Models.ViewModels.UserForgotPasswordFormViewModel
@{
    Layout = "_LayoutUsers";
    ViewData["Title"] = "Forgot Password";
}

<div class="login-card">
    <div class="login-card-header">
        <p class="h3">@ViewData["Title"]</p>
    </div>
    <div class="login-card-body">
        <form asp-action="ForgotPassword">
            @if (ViewData["Error"] != null)
            {
                <div class="form-group">
                    @await Html.PartialAsync("PartialViews/_ErrorPartialView", ViewData["Error"].ToString())
                </div>
            }
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block py-4">Send Confirmation Email</button>
            <a asp-action="Login" class="btn btn-secondary btn-block mt-1">Back</a>
        </form>
    </div>
</div>
