@{
    Layout = "_LayoutUsers";
    ViewData["Title"] = "Forgot Password";
}

<div class="login-card">
    <div class="login-card-header">
        <p class="h3">@ViewData["Title"]</p>
    </div>
    <div class="login-card-body">
        @if (TempData["Error"] != null)
        {
            <div class="form-group">
                @await Html.PartialAsync("PartialViews/_ErrorPartialView", TempData["Error"].ToString())
            </div>
        }
        else
        {
            <p>
                An email containing a password reset link has been sent to you. Please check your email.
            </p>
        }

        <a asp-action="Login" class="btn btn-secondary btn-block mt-1">Back</a>
    </div>
</div>
