@{
    Layout = "_LayoutUsers";
    ViewData["Title"] = "Reset Password";
}

<div class="login-card">
    <div class="login-card-header">
        <p class="h3">@ViewData["Title"]</p>
    </div>
    <div class="login-card-body">
        <p>
            Your password has been successfully updated.
        </p>

        <a asp-action="Login" class="btn btn-primary btn-block py-4">Back to Login</a>
    </div>
</div>
