@model DevLog.Areas.Panel.Models.ViewModels.PostCategoryFormViewModel

@{
    Layout = "_FormLayout";
    ViewData["Title"] = "Delete Category";
}

<div class="form-group">
    <label asp-for="Title"></label>
    <input asp-for="Title" class="form-control" disabled="disabled" />
</div>
<div class="form-group">
    <label asp-for="CreateDate"></label>
    <input type="text" value="Model.CreateDate" class="form-control" disabled="disabled" />
</div>
<div class="form-group">
    <label asp-for="LastEditDate"></label>
    <input type="text" value="Model.LastEditDate" class="form-control" disabled="disabled" />
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger" type="submit">Delete</button>
    <a asp-action="Index" class="btn btn-danger">Back</a>
</form>
