@model string
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">
        <span class="fa fa-exclamation-triangle"></span>
    </h4>
    <p>
        @Model
    </p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
