@model DevLog.Areas.Panel.Models.ViewModels.ContactFormViewModel

@{
    Layout = "_FormLayout";
    ViewData["Title"] = "Edit Contact";
}

@section Scripts
{
    <script>
        Panel.InitializeEditor("#txtBody");
    </script>
}

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="UserFullName"></label>
        <input asp-for="UserFullName" class="form-control" />
        <span asp-validation-for="UserFullName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Subject"></label>
        <input asp-for="Subject" class="form-control" />
        <span asp-validation-for="Subject"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmailOrPhoneNumber"></label>
        <input asp-for="EmailOrPhoneNumber" class="form-control" />
        <span asp-validation-for="EmailOrPhoneNumber"></span>
    </div>
    <div class="form-group">
        <label asp-for="Body"></label>
        <textarea asp-for="Body" id="txtBody"></textarea>
        <span asp-validation-for="Body"></span>
    </div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Ip" />
    <input type="hidden" asp-for="CreateDate" />
    <input type="hidden" asp-for="LastEditDate" />

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Edit</button>
        <a asp-action="Index" class="btn btn-danger">Back</a>
    </div>
</form>
