@model DevLog.Areas.Panel.Models.ViewModels.PostFormViewModel

@{
    Layout = "_FormLayout";
    ViewData["Title"] = "Create Post";
}
@section Scripts {
    <script>
        Panel.InitializeEditor("#txtBody");
        Panel.InitializeTagsInput();
        Panel.InitializeSingleFilePreview();

        $("#btn-add-file").click(function () {
            $("#input-file-hidden").click();
        });
    </script>
}

<form asp-action="Create" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Body"></label>
        <textarea asp-for="Body" id="txtBody"></textarea>
        <span asp-validation-for="Body"></span>
    </div>
    <div class="form-group">
        <label asp-for="PostCategoryId"></label>
        <select asp-for="PostCategoryId" asp-items="@ViewBag.PostCategoryId" class="form-select">
            <option value="">None</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Tags"></label>
        <input type="text" id="tags-input" asp-for="Tags" />
    </div>
    <div class="form-group">
        <label asp-for="File"></label>
        <button type="button" id="btn-add-file" class="btn btn-secondary">
            <i class="fa fa-plus"></i>
            Add Picture
        </button>
        <input type="file" asp-for="File" id="input-file-hidden" class="d-none" accept="image/*" />
        <div id="files-preview" class="single-file mt-2"></div>
    </div>
    <div class="form-group form-check">
        <div class="custom-control custom-checkbox mr-sm-2">
            <label class="form-check-label">
                <input type="checkbox" class="custom-control-input" asp-for="IsCommentsOn" checked="checked">
                <label class="custom-control-label" asp-for="IsCommentsOn"></label>
            </label>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success" type="submit">Create</button>
        <a asp-action="Index" class="btn btn-danger">Back</a>
    </div>
</form>
